Module 4/simulation.json
[
    {
        "id": "37597f34ed01f051",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2cd251a0bc935e3e",
        "type": "inject",
        "z": "37597f34ed01f051",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "e8e29b2bda667166"
            ]
        ]
    },
    {
        "id": "e8e29b2bda667166",
        "type": "function",
        "z": "37597f34ed01f051",
        "name": "function 1",
        "func": "var random = Math.random() * 15;\nvar msg = {\n    payload: random,\n    topic: \"sensors/gyro\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "820f64071d953223",
                "0c48159e679d5ef2"
            ]
        ]
    },
    {
        "id": "5ffe5022428e7264",
        "type": "mqtt out",
        "z": "37597f34ed01f051",
        "name": "sensors/gyro",
        "topic": "inTopic",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37da94c7ac12694b",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "820f64071d953223",
        "type": "debug",
        "z": "37597f34ed01f051",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "0c48159e679d5ef2",
        "type": "switch",
        "z": "37597f34ed01f051",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "bc06162935acc63a"
            ],
            [
                "a11ee73480dde14d"
            ]
        ]
    },
    {
        "id": "094c8b5fdb10ae5b",
        "type": "toggle",
        "z": "37597f34ed01f051",
        "name": "",
        "onOffTopic": "",
        "onValue": "",
        "onType": "str",
        "offValue": "",
        "offType": "str",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "",
        "x": 890,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bc06162935acc63a",
        "type": "change",
        "z": "37597f34ed01f051",
        "name": "set off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "5ffe5022428e7264"
            ]
        ]
    },
    {
        "id": "a11ee73480dde14d",
        "type": "change",
        "z": "37597f34ed01f051",
        "name": "set on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 340,
        "wires": [
            [
                "5ffe5022428e7264"
            ]
        ]
    },
    {
        "id": "37da94c7ac12694b",
        "type": "mqtt-broker",
        "name": "local broker",
        "broker": "192.168.12.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]